.PostCard {
    border-radius: 0px;
    margin-inline: 0px;
    &-ActionButton {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }
    &-ActionInfo {
        .ShareInfo {
            justify-content: flex-end;
            display: flex;
        }
    }
}